.home_title {
  animation:1s;
  animation-name: welcome-slidein;
}
 @keyframes welcome-slidein {
   from {
           margin-left: 100%;
           width: 300%;
       }

       to {
           margin-left: 0%;
           width: 100%;
       }
 }
