* {
  margin: 0;
}
header {
  background-color: rgb(18, 89, 209);
}
main {
  padding: 50px;
  background-image: url(../assets/form_background.jpg);
  background-size: cover;
}
form {
  color: black;
padding: 20px;
border: none;
border: 3px solid black;
border-radius: 2px;
background-color: white;
}
#form_title {
  text-align: center;
  background-image: url(../assets/form_background.jpg);
  border-radius: 3px;
  background-size: cover;
  padding-top: 100px;
  padding:30px;
  color:white;
  text-decoration: underline;
  box-shadow: 2px 2px 2px 2px rgb(103, 101, 108);
}
.form {
  text-align: center;
  background-color: white;
}
#discription {
  text-align: center;
  border: 2px solid black;
  border-radius: 3px;
  padding:20px;
  margin:80px;
}
input [type="text"] {
  color: blue;
}
legend {
  padding:10px;
  background-color: white;
  border: 2px solid black;
  box-shadow: 2px 2px 2px 2px rgb(103, 101, 108);
  border-radius: 30%;
}
fieldset {
  margin: 80px;
padding: 20px;
background-color: white;
border: 3px solid black;
box-shadow: 1px 1px 1px 1px rgb(103, 101, 108);
border-radius: 3px;
}
textarea {
  margin:10%;
  width: 75%;
  text-align: center;
  border: 3px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px rgb(103, 101, 108);
}
label {
  text-align: center;
  font-size: 20px;
}
