* {
  margin: 0;
  background-color: black;
  box-sizing: border-box;
}
/* top page stylization */
header {
display: flex;
justify-content: space-between;
align-items: center;
color: white;
padding: 30px;
}

.header_left  {
  padding-left: 15px;
}
.header_center{
  font-family: 'Merriweather' serif;
  width:75%;
  text-align: center;
}

.logo {
  margin-left: 100px;
  width: 30%;
  background-color: white;
  border-radius: 50%;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-between;
  background-color: black;
  border-top: 5px solid #25E8E5;
  border-bottom: 5px solid #25E8E5;
}
.navbar{
  list-style-type: none;
}
.navbar li {
 display: inline-block;
 padding: 10px;
 border: 4px solid #;
}
.navbar a {
  color: white;
  font-size: 18pt;
  text-decoration: none;
  padding-right: 30px;
  padding-left: 30px;
  font-family: 'Merriweather' serif;
}
.navbar a:hover {
  color: #25E8E5;
}
.navbar li:hover {
  border: 4px solid #25E8E5;
}
main {
  color: white;
}
footer {
  background-color: #25E8E5;
  padding: 30px;
  color: black;
}
.thankyou {
  color: black;
  background-color: #25E8E5;
  text-align: center;
}

/*Home Page Stylization*/
.home_title {
  padding-top: 5px;
  text-align: center;
  font-size: 40pt;
}
.home_img {
  width: 50%;
  display: block;
  margin: auto;
  padding: 25px;
  border-radius: 50%;
}
.contact {
  font-weight: bolder;
  background-color: #E8980E;
}
.home_title {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
  font-family: 'Merriweather' serif;
}
.home_grid {
  padding: 50px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  padding: 15px;
  align-items: center;
  width: 100%;
  border-radius: 50%
}
.discription a {
  font-family: 'Inter' serif;
  color: #E8980E;
  text-decoration: none;
  padding: 20px;
  font-size: 16pt;
}
.discription a:hover {
  font-family: 'Inter' serif;
  color: #E8483C;
  border-bottom: 2px solid #E8483C;
}
.contact_me_home {
  font-family: 'Merriweather' serif;
  color: white;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 100px;
  background-color:black;
}

.contact_me_home a {
  padding: 15px;
  border-radius: 5px;
  background-color: #E8980E;
  border: 2px solid #E8980E;
  border-radius: 5px;
  text-decoration: none;
  color:black;

}


/* Contact Page Stylization */
.contact_me {
  font-family: 'Merriweather' serif;
  color: white;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:black;
}
.contacts {
  list-style-type: none;
  padding: 50px 20px;
}
.contacts a {
  font-family: 'Merriweather' serif;
  color: white;
  text-decoration: underline;
}
.contacts li {
  display: column;
  padding-bottom: 80px;
}
.contacts a:hover {
  font-family: 'Merriweather' serif;
  text-decoration: none;
  color: orange;
}
.contact_right {
  text-align: right;
}

/* contacts form stylization */
#form_title {
  text-align: center;
  padding:20px;
  background-color: white;
  border-radius: 3px;
  color: black;
  text-decoration: underline;
  border: 3px solid #E8980E;
  box-shadow: 5px 5px 2px 2px #E8980E;
  margin: 40px;
}
form {
  padding: 100px;
  text-align: center;
  padding: 20px;
  margin: 30px;
}
input [type="text"] {
  color: blue;
}
legend {
  padding:10px;
  color: black;
  background-color: white;
  border: 2px solid black;
  box-shadow: 2px 2px 2px 2px rgb(103, 101, 108);
  border-radius: 30%;
}
fieldset {
  margin: 80px;
padding: 20px;
background-color: white;
border: 3px solid #25E8E5;
box-shadow: 2px 2px 5px 5px #21CFCC;
border-radius: 3px;
margin-bottom: 100px;
}
textarea {
  margin:10%;
  width: 75%;
  text-align: center;
  border-radius: 3px;
  background-color: white;
  border: 3px solid #25E8E5;
  box-shadow: 2px 2px 5px 5px #21CFCC;
}
#who_you_are {
  border: 3px solid #E8980E;
  box-shadow: 2px 2px 2px 2px #E8980E;
}
#name {
  text-align: center;
  font-size: 20px;
  color: black;
  background-color: white;
  padding-right: 20px;
}
#how-to {
  font-family: 'Merriweather' serif;
  text-align: center;
  border-radius: 3px;
  color: white;
  padding:50px;
  border: 3px solid #E8980E;
  box-shadow: 5px 5px 2px 2px #E8980E;
}

#Email-or-phone-text {
  padding: 30px;
  margin-bottom: 30px;
  margin-top: 40px;
  border: 3px solid #25E8E5;
  box-shadow: 2px 2px 5px 5px #21CFCC
}
#how-to-help{
  font-family: 'Merriweather' serif;
  background-color: white;
  text-align: center;
  border-radius: 3px;
  color: black;
  padding:30px;
  border: 3px solid #E8980E;
  box-shadow: 5px 5px 2px 2px #E8980E;
}
input [type=reason] {
  font-family: 'Merriweather' serif;
  color: white;
  text-align: center;
  border-radius: 3px;
  color: black;
  padding:30px;
  border: 3px solid #E8980E;
  box-shadow: 5px 5px 2px 2px #E8980E;
}

#submit {
  background-color: #E8980E;
  color: black;
  font-size: 16pt;
}

/* Portfolio Page Stylization*/
.portfolio_grid {
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
.portfolio_col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  padding:20px;
}

.portfolio_img {
  width: 55%;
  border-radius: 50%;

}
.title {
  text-align: center;
  font-size: 15pt;
  font-family: 'Merriweather' serif;
}
.discription {
  font-family: 'Inter' serif;
  text-align: center;
  padding: 20px 40px;
}
.portfolio_action {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;
  padding: 10px;
  text-align: center;
}
.portfolio_action a {
  font-family: 'Merriweather' serif;
  text-decoration: none;
   color: #25E8E5;}

.portfolio_action a:hover {
  font-family: 'Merriweather' serif;
  text-decoration: none;
   color: #E8483C;
}
.portfolio_action:hover {
  border-bottom: 2px solid #25E8E5;
  border-top: 2px solid #25E8E5;
}
/*Photoshoot Page Stylization*/
.photoshoot_img {
  width: 75%;
  padding: 10px;
  align-items: center;
}
.grid_container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 30px;
  align-items: center;
  width: 100%
}
.photoshoot_lrg {
  width: 75%;
  display: block;
  margin: auto;
  padding: 10px;
}
/*About Page Stylization*/
.about_img {
  width: 50%;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 40px;
}

@media only screen and  (max-width:768px) {
header {
  flex-wrap: wrap;
}

.header_left {
width:100%;
padding-left:0px;
display:flex;
justify-content: center;
}
.home_img {
  width: 70%;
}


.logo {
  width: 50%;
margin-left: 0;
}

.header_center {
width:100%;
text-align: center;
padding-top:20px;
}
.navbar a{
text-align: center;
}

.contact {
font-size: 20pt;
width:30%;
}
.portfolio_grid {
    display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: space-between;
}
.portfolio_img {
  display: block;
  margin: auto;
  width: 75%;
  border-radius: 50%;
  display: block;
  padding: 10px;
  align-items: center;
}
.title {
  text-align: center;
  font-size: 15pt;
  font-family: 'Merriweather' serif;
}
.discription {
  display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
  font-family: 'Inter' serif;
  text-align: center;
  padding: 20px 40px;
}
.discription a {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  font-size: 16pt;
}
.portfolio_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
    padding:5px;
}
.portfolio_action {
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-between;
  padding: 10px;
  text-align: center;
}
.portfolio_action a {
  font-family: 'Merriweather' serif;
  text-decoration: none;
   color: #25E8E5;}

.portfolio_action a:hover {
  font-family: 'Merriweather' serif;
  text-decoration: none;
   color: #E8483C;
}
.portfolio_action:hover {
  border-bottom: 2px solid #25E8E5;
  border-top: 2px solid #25E8E5;
}
/* about page stylization */
.about_img {
  width: 85%;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 40px;
}

/* form stylization */
form {
  padding: 30px;
  text-align: center;
  padding: 20px;
    margin: 5px;
}

}
