#thetitle {
  text-align: center;
}
#contexts {
  text-align: center;
}
#whatis {
  text-align: center;
}
#classify {
  text-align: center;
}
#witchaimee {
  width: 90%;margin-bottom: 75px
  display:block;
  margin: auto;
}
#witchaimee {
  align-self: :center;
}
#darkwitch {
  width: 44%;
}
#witchlair {
  width: 45%;
}
#title {
  text-align: center;
}
#history {
  text-align: center;
}
#manifestingchange {
  width: 90%;
}
#possessions {
  text-align: center;
}

#trail {
  text-align: center;
}
.center_txt {
  text-align: center;
}
.title {
  text-align: center;
}
#hocus-pocus {
  width: 90%;
}
#witch-in-cauldren {
  width: 35%; margin-right: 40px; margin-left: 5
0px;
display: inline-block;
}
#MushroomWitch {
  width: 50%;
  display: inline-block;
  margin: auto
}
#studentwitch_withbooks {

    width: 35%;
    display: inline-block;
}
#Littlewitchdream{
  width: 30%;
  display: inline-block;
}
#magie_dans {
  width: 30%;
  display:inline-block;
  margin: auto;
}
